body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}::-webkit-scrollbar {
        width: 12px; /* ancho de la barra de desplazamiento */
}::-webkit-scrollbar-thumb {
        background-color: #888; /* color del pulgar (la parte que se arrastra) */
        border-radius: 6px; /* radio de borde del pulgar */
}::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* color de fondo de la pista */
        border-radius: 6px; /* radio de borde de la pista */
}
@font-face {
    font-family: "Titulo";
    src: url(font/riverside_texture/Riverside\ Texture.otf) format("truetype");
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
